<!DOCTYPE html>
<html html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sf="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Home page</h2>

<div th:if="${param.error}">
    <h2 style="color: red">Wrong username or password.</h2>
</div>
<div th:if="${param.logout}">
    <h2 style="color: green">Logout completed.</h2>
</div>
<form method="post" action="/login">
    <input name="j_username"/>
    <br/>
    <input name="j_password"/>
    <br/>
    <input type="submit" value="LogIn">
</form>
</body>
</html>