<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h2>This is USER page</h2>
<form method="post" action="/logout">
    <input type="submit" value="LogOut">
</form>
<br/>
<br/>
<table border="1">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Surname</td>
        <td>PhoneNumber</td>
        <td>Password</td>
    </tr>
    <tr>
        <form data-th-object="${user}" action="#" th:action="@{/user/{username}(username=${user.getUsername()})}"
              th:method="PUT">
            <td><input type="text" name="id" th:value="${user.getId()}" disabled></td>
            <td><input type="text" name="name" th:value="${user.getUsername()}"/></td>
            <td><input type="text" name="surname" th:value="${user.getSurname}"/></td>
            <td><input type="tel" name="phoneNumber" th:value="${user.getPhoneNumber()}"/></td>
            <td><input type="text" name="password" th:value="${user.getPassword()}"/></td>
            <td><input type="submit" value="update" id="updateButton"></td>
        </form>
    </tr>
</table>
</body>
</html>